body
{
	margin:0; padding :0 ;
	font-family: arial,sans-serif;
}
#header
{
 	width: 100%; 
 	height: 56px; 
	background-color: black;
}
#menu
{
	width:1024px;
	margin:0px auto;
	color: white;
}
h2{
	margin:0px;
}
#wrapper
{
	width: 1024px;
	min-height: 500px;
	margin:0px auto;
}
#portfolio
{
	list-style-type: none;
	padding-left: 0px;
}
#portfolio li{
	display: inline-block;
	margin: 10px 5px 10px 5px;
}
#portfolio li img{
	width: 288px;
	height: 162px;
}

#portfolio li img:hover{
	cursor: pointer;
}
#overlay:hover {
	
	cursor:pointer;
}
#main:hover{
	
	cursor: pointer;
}

#overlay
{
	display : none; 
  	width: 100%;
  	height: 100%;
  	position: fixed;
  	background-color: black;
  	opacity : 0.7;	
}
#frame
{
	position :fixed;
	left : 50%;
	display: none;
	background-color: white;
	width: 680px;
	height: 360px;
	margin-left: -400px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 15px;
}
#main
{
	width: 640px;
	margin-left: 20px;
}
#frame-table
{
	position: absolute;
	width: 640px;
	margin-left: 20px;
	
}
#right
{
	float: right;
}
#right,#left
{
	position: relative;
	top:150px;
	opacity : 1;
}
#left img
{
	margin-left: -15px;
    	
}
#right img
{
	margin-right: -15px;
	
}
#description
{
	background-color: white;
	padding-bottom: 10px;
}
#description p
{
	margin-left: 20px;
	
}
#filter li
{
	
	display: inline;
	
}
#filter li.active
{
	
	text-decoration: underline;
}